html{
    /* position: relative; */
    min-height: 100vh;
}

main{
    min-height: 78vh;
    /* margin: 50px 0; */
}


.accordion-button{
    font-weight: 700;
}
footer{
    margin-top: 20px;
     /* position: absolute; */
     bottom: 0; 
    min-height: 80px;
    width: 100%;
    display: flex;
justify-content: center;
}

img {
    height: 700px;
}

a{
text-decoration: none !important; 
}

.card-img-top{
    height: 300px !important;
}